body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.5;
}


@media (max-width: 768px) {
    body{
        font-size: 100%;
    }
    header {
        height: 150px;
    }

    .locations a, .mission a, .teas a, .contact a {
        top: -150px;
    }

    .location {
        width: 100%;
    }
    .details {
        overflow-y: scroll; 
    }
}

@media (min-width: 768px) {
    body{
        font-size: 100%;
    }  

    nav {
        margin-right: 10px;
        float: right;
        margin-right: 10px;
    }

    nav li {
        display: inline;
    }

    .logo img {
        float: left;
        margin-left: 10px;
    }

    header {
        height: 70px;
    }

    .locations a, .mission a, .teas a, .contact a {
        top: -70px;
    }

    .location {
        position: relative;
        width: 25%;
        height: auto;
        opacity: 1; 
        background-color: black;
        margin: 5px 10px 5px 10px;  
    }

    .details {
        justify-content: center;
        align-content: center;
    }
}

header {
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: black;
}

.logo img {
    margin-top: 10px;
    max-height: 50px;
    width: auto;
}

ul {
    list-style: none;
}

a {
    color: seashell;
}

a:hover {
    background: seashell;
    color: black;
}

span {
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.locations a, .mission a, .teas a, .contact a {
    position: absolute;
}

.mission {
    top: 62px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    flex-basis: 1200px;
    max-width: 95%;
    margin: 0 auto; 
    display: flex;
}

.content {
    position: absolute;
    background-color: black;
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 5px;
}

.teas {
    position: relative;
    top: 100px;
}

.tea {
    display: flex;
    position: relative;
    top: 100px;
    flex-basis: 1000px;
    max-width: 85%;
    margin: 0 auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.type {
    width: 40%;
    height: auto;
    margin: 10px 10px;
}

.type img {
    height: auto; 
    width: 100%;
}

.tea .type:first-child {
    width: 85%;
}

.tea .type:last-child {
    width: 85%;
}

.locations {
    max-width: 95%;
    position: relative;
    top: 100px;
    margin: 10px auto;
}

.details {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 15px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: cover;
    height: 500px;
    flex-basis: 1200px;
}

.location {
    position: relative;
    opacity: 1; 
    background-color: black;
    margin: 10px 10px 5px 10px; 
    padding: 5px; 
}

.contact {
    position: relative;
    height: 200px;
    top: 130px;
    float: left;
    text-align: left;
    width: 100%;
    margin-left: 20px;
}

footer {
    position: relative;
    margin-left: 20px;
    float: left;
    text-align: left;
    top: 50px;
}